{% extends '_base.html' %} 

{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="container">
  <div class="cart shadow my-3 p-5">
    <h1>Password change successful</h1>
    <p>Your password was changed.</p>
    <div class="container mt-4">
      <a class ='btn btn-danger' href="{% url 'logout' %}">Logout</a>
      <a class ='btn btn-success' href="{% url 'posts_list' %}">Posts List</a>
      <a class ='btn btn-info' href="{% url 'profile' %}">Profile</a>
    </div>
  </div>
</div>
{% endblock content %}
