{% extends '_base.html' %} 
{% block title %}Profile{% endblock title %} 
{% block content %}
<div class="container">
  <div class="cart shadow my-3 p-5">
    <h1>Username : {{pro.username}}</h1>
    <br />
    <h4>ایمیل : {{pro.email}}</h4>
    <br />
    <h4>نام : {{pro.first_name}}</h4>
    <br />
    <h4>نام خانوادگی : {{pro.last_name}}</h4>
    <br />
    <h6>آخرین تاریخ ورود: {{pro.last_login}}</h6>
    <br />
    <h6>تاریخ ثبت نام : {{pro.date_joined}}</h6>
    <div class="container mt-5">
      <a class="btn btn-success" href="{% url 'password_change' %}"
        >Password Change</a
      >
    </div>
  </div>
</div>
<div class="container">
  <div class="cart shadow my-3 p-5">
    <div>
      {% for post in posts %}
        <div class="card shadow-sm my-3">
         <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted small py-2">{{post.datetime_modified}}</h6>
          <p class="card-text py-3">
            {{post.text|truncatechars:80}}
          </p>
          <a href='{{post.get_absolute_url}}' class="btn btn-sm btn-success">Read More</a>
         </div>
       </div>
      {% endfor %}
    </div>
    </div>
  </div>
  {% endblock content %}
</div>
